<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card hoverable">
                    <div class="card-header hoverable" data-background-color="purple">
                        <i class="material-icons">person</i>
                        <span>Liste des etudiants</span>
                        <p class="category">Trouvez la Liste des etudiants codifiés et leurs informations.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Prenom</th>
                                <th>Nom</th>
                                <th>Telephone</th>
                                <th>Departement</th>
                                <th>Batiment</th>
                                <th>Etage</th>
                                <th>Chambre</th>
                                <th class="td-actions text-right">
                                  Action
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Papa Youssouf</td>
                                    <td>LAM</td>
                                    <td>770900631</td>
                                    <td>Genie Informatique</td>
                                    <td>Pavillon C</td>
                                    <td>Etage 2</td>
                                    <td>43</td>
                                    <td class="td-actions text-right">
                                      <button type="button" rel="tooltip" title="Details" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-simple btn-xs hoverable">
                                        <i class="material-icons ">visibility</i>
                                      </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Papa Youssouf</td>
                                    <td>LAM</td>
                                    <td>770900631</td>
                                    <td>Genie Informatique</td>
                                    <td>Pavillon C</td>
                                    <td>Etage 2</td>
                                    <td>43</td>
                                    <td class="td-actions text-right">
                                      <button type="button" rel="tooltip" title="Details" class="btn btn-primary btn-simple btn-xs hoverable">
                                        <i class="material-icons ">visibility</i>
                                      </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Papa Youssouf</td>
                                    <td>LAM</td>
                                    <td>770900631</td>
                                    <td>Genie Informatique</td>
                                    <td>Pavillon C</td>
                                    <td>Etage 2</td>
                                    <td>43</td>
                                    <td class="td-actions text-right">
                                      <button type="button" rel="tooltip" title="Details" class="btn btn-primary btn-simple btn-xs hoverable">
                                        <i class="material-icons ">visibility</i>
                                      </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Papa Youssouf</td>
                                    <td>LAM</td>
                                    <td>770900631</td>
                                    <td>Genie Informatique</td>
                                    <td>Pavillon C</td>
                                    <td>Etage 2</td>
                                    <td>43</td>
                                    <td class="td-actions text-right">
                                      <button type="button" rel="tooltip" title="Details" class="btn btn-primary btn-simple btn-xs hoverable">
                                        <i class="material-icons ">visibility</i>
                                      </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Papa Youssouf</td>
                                    <td>LAM</td>
                                    <td>770900631</td>
                                    <td>Genie Informatique</td>
                                    <td>Pavillon C</td>
                                    <td>Etage 2</td>
                                    <td>43</td>
                                    <td class="td-actions text-right">
                                      <button type="button" rel="tooltip" title="Details" class="btn btn-primary btn-simple btn-xs hoverable">
                                        <i class="material-icons ">visibility</i>
                                      </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mason Porter</td>
                                    <td>Chile</td>
                                    <td>Gloucester</td>
                                    <td class="text-primary">$78,615</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Details Etudiant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-m-2">
                  </div>
                  <div class="col-md-12" >
                    <div class="tab-pane fade active in" id="tabs-modal" aria-labelledby="tabs1">
                      <div class="col-md-12 panel tabs-area hoverable" style="border-radius:10px;">
                        <div class="col-md-12" style="padding-bottom:20px;">
                          <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src="../assets/img/faces/marc.jpg" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5>Papa youssouf Lam</h5>
                                    <p>Age: 21ans</p>
                                    <p>Adress: Sipres</p>
                                    <p>Telephone: 770900631</p>
                                </div>
                            </div>
                        </div>
                          <div class="col-md-8">
                            <div class="col-m-12">
                              <div class="box-v3">
                                <div class=" bg-white border-none">
                                  <h4>Etablissement</h4>
                                </div>
                                <div class="col-md-5">
                                  <p>Departements:</p>
                                  <p>Option:</p>
                                  <p>Cycle:</p>
                                  <p>Niveau:</p>
                                </div>
                                <div class="col-md-7">
                                  <p>Genie Informatique</p>
                                  <p>Informatique</p>
                                  <p>DIC</p>
                                  <p>2</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-m-12">
                              <div class="box-v3">
                                <div class=" bg-white border-none">
                                  <h4>Cdodification</h4>
                                </div>
                                <div class="col-md-5">
                                  <p>Batiment:</p>
                                  <p>Etage:</p>
                                  <p>Chambre:</p>
                                </div>
                                <div class="col-md-7">
                                  <p>Pavillon C</p>
                                  <p>Etage 2</p>
                                  <p>43</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
