<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <button (click)="creerBatimentPage()" class="btn" style="background: purple;">Nouveau etage</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h2 class="title"> <i class="material-icons">library_books</i>Liste des Projets</h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4"  *ngFor="let etage of etages">
    <div class="card">
      <div class="card-header card-chart" data-background-color="blue">
        <div class="ct-chart" id="dailySalesChart"><img style="width: 100%;" src="assets/img/etage.jpg" alt="" class="resize"></div>
      </div>
      <div class="card-content">
        <h2 class="title"><span class="text-success">Intitulé :  </span> etage 1</h2>
      </div>
    </div>
  </div>
</div>
