<div *ngIf="" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats hoverable">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">account_balance</i>
          </div>
          <div class="card-content">
            <p class="category">Batiments</p>
            <h3 class="title">
              {{nbbatiments}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">list</i>
              <a href="#pablo">Liste des bâtiments</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats hoverable">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">room</i>
          </div>
          <div class="card-content">
            <p class="category">Chambres</p>
            <h3 class="title">
              {{nbchambres}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">list</i>
              Liste des chambres
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats hoverable">
          <div class="card-header" data-background-color="red">
            <i class="material-icons">accessible</i>
          </div>
          <div class="card-content">
            <p class="category">Reservés</p>
            <h3 class="title">
              65/{{nbEtudiants}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">list</i>
              Liste des réservations
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats hoverable">
          <div class="card-header" data-background-color="blue">
            <i class="material-icons">check</i>
          </div>
          <div class="card-content">
            <p class="category">Confirmations</p>
            <h3 class="title">
              23/{{nbEtudiants}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">list</i>
              Liste des confirmations
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let batiment of batiments" class="col-md-3">
        <div class="card hoverable">
          <div class="card-header card-chart" data-background-color="purple">
            <chart [options]="batiment.options"></chart>
          </div>
          <div class="card-content">
            <h4 class="title">{{batiment.label}}</h4>
            <p class="category">
              <span class=""><i class="material-icons">room</i> {{batiment.nbchambres}}
              </span> chambres
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">launch</i> {{batiment.etages.length}} etages
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card card-nav-tabs hoverable">
          <div class="card-header" data-background-color="purple">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <h4 style="text-align: center; font-style: italic; color: white;">Nombre de chambre par batiment</h4>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="tab-content">
              <div class="tab-pane active" >
                <chart [options]="columnOptions"></chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card card-nav-tabs hoverable">
          <div class="card-header" data-background-color="purple">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <h4 style="text-align: center; font-style: italic; color: white;">Nombre de chambre par batiment</h4>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="tab-content">
              <div class="tab-pane active" >
                <chart [options]="pieOptions"></chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
